<ion-content class="no-scroll">
    <div *ngIf="auth.userLoggedIn" style="color: red;" (click)="close('condition')">
      <ion-icon name="book"></ion-icon>
      Add a Condition
    </div>
    <div *ngIf="auth.userLoggedIn" style="color: red;" (click)="close('discipline')">
      <ion-icon name="book"></ion-icon>
      Add a Discipline
    </div>
    <div (click)="close('myplan')">
      <ion-icon name="shuffle"></ion-icon>
      Add from My Plan
    </div>
    <div *ngIf="auth.userLoggedIn" style="color: red;" (click)="close('topic')">
      <ion-icon name="add"></ion-icon>
      Add a Care Topic
    </div>
    <div (click)="close('share')">
      <ion-icon name="share"></ion-icon>
       Share this Plan
    </div>
    <div (click)="close('delete')">
      <ion-icon name="trash"></ion-icon>
       Delete this Plan
    </div>
</ion-content>
