page-plan-menu {

    div {
        font-size: medium;
        padding-bottom: 5px;
    }
    .no-scroll {
        overflow: hidden;
    }
    .scroll-content {
        overflow: hidden !important;
    }
}
