page-subscribe {
    div {
        word-break: normal;
        white-space: normal;
    }
    li {
        word-break: normal;
        white-space: normal;
    }
    .hilite {
        font-size: medium;
        color: color($colors, primary);
    }
    .taken {
        font-style: italic;
        font-size: medium;
        color: red;
    }
    .available {
        font-style: italic;
        font-size: medium;
        color: green;
    }
}
