<ion-header>

  <ion-navbar hideBackButton class="navbarStyle" color="primary">
    <ion-title>Set Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item no-lines>
  <div>Set up your subscriber information. Use <span class="hilite">Check Availability</span> to confirm your User ID selection.  When you've selected an available User ID and completed the rest of the entries, tap Save and Continue below.</div>
</ion-item>
  <ion-item>
    <ion-label stacked>Choose a User ID: </ion-label>
    <ion-input [(ngModel)]="userId"></ion-input>
  </ion-item>
  <ion-item *ngIf="!uidAvail" class="taken">Sorry, that one's taken.</ion-item>
  <ion-item *ngIf="uidAvail"class="available">Yes, that User ID is available.</ion-item>
  <button ion-button (click)="checkAvail()">Check Availability</button>
  <ion-item>
    <ion-label stacked>Choose a Password</ion-label>
    <ion-input type="password" [(ngModel)]="pwd"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Verify Password</ion-label>
    <ion-input type="password" [(ngModel)]="pwdVer"></ion-input>
  </ion-item>
  <br>
  <br>
  <ion-item>
    <ion-label stacked>Choose an Encryption Key</ion-label>
    <ion-input type="password" [(ngModel)]="myKey"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Verify Encryption Key</ion-label>
    <ion-input type="password" [(ngModel)]="myKeyVer"></ion-input>
  </ion-item>
  <ion-item no-lines>
    <div>
      The Encryption Key you assign will be used to make your care plans safe in the cloud.</div>
    <div>
      Your content is encrypted on your device, before it is uploaded, so it is always secure while in transit and when
      stored in the cloud.</div>
    <div>We suggest 20 characters or more, and something memorable, such as a line from a favorite song.</div>
  </ion-item>
  <!-- <button ion-button *ngIf="(!!pwd && pwd==pwdVer && !!mykey && mykey==mykeyVer && uidAvail)" (click)="setup()">Save and Continue</button><br> -->
  <button ion-button [disabled]="(!(!!pwd && pwd==pwdVer && !!myKey && myKey==myKeyVer && uidAvail))" (click)="setup()">Save and Continue</button><br>
  <ion-item no-lines>
    <div>After set up, you will be automatically signed in, and sent to your Care Plans Page.</div>
  </ion-item>
  <!-- <button ion-button (click)="cancelEdit()">Cancel</button> -->
</ion-content>