page-terms {
    h1 {
        font-size: 1.8rem;
        color: color($colors, primary);
        white-space: normal;        
        word-break: break-word;        
    }
    p {
        font-size: smaller;
        color: black;
        white-space: normal;        
        word-break: break-word;
    }
}
