
<ion-header>

<ion-navbar class="navbarStyle" color="primary">
    <ion-title>Care Plan</ion-title>
        <ion-buttons end>
    <!-- <div *ngIf="plt.is('ios') || plt.is('android')">   // add this back in production -->
      <button ion-button (click)="toClipboard()">
        <ion-icon name="clipboard"></ion-icon>
      </button>
      <button ion-button (click)="sendEmail()">
        <ion-icon name="send"></ion-icon>
      </button>
    <!-- </div> -->
    <!-- <button float-right (click)="createPdf(true)"> -->
    <button ion-button (click)="createPdf(true)">
      <ion-icon name="paper"></ion-icon>PDF
    </button>
    </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
  <h1 class="h1text">Care Plan: {{plan.name}}</h1>
        <div *ngFor="let p of plan.problems">
          <p class="ptext prob">{{p.text}}</p>
          <div>
            <div *ngIf="p.goals.length > 0"><em>Outcomes</em></div>
            <div *ngFor="let g of p.goals">
              <p class="ptext goal">{{g.text}}  <em>{{goalTerm(g)}}</em></p>
            </div>
            <div *ngIf="p.interventions.length > 0"><em>Interventions</em></div>
            <div *ngFor="let n of p.interventions">
                <p class="ptext int">{{n.text}}</p>
                <p class="ptext dsc" *ngIf="discList(n)"><em>Disciplines:</em>  {{discList(n)}}</p>
              </div>
          </div>
        </div>

</ion-content>
