page-text-plan {
    .ptext { 
        color: black;
        font-size: 1.4rem; 
        word-break: normal;
        white-space: normal;
    }
    .prob { 
        margin-top: 1.2rem;
    }
    .goal { 
        margin-top: 0.8rem;
        margin-left: 1rem;
    }
    .int { 
        margin-top: 0.4rem;
        margin-left: 1rem;
        margin-bottom: 0;
    }
    .dsc { 
        margin-top: 0;
        margin-left: 2.2rem;
        margin-bottom: 0;
    }    
    .h1text {
        font-size: 1.6rem;
    }
    button {
        color: color($colors, light);
        background-color: color($colors, primary);
        font-size: 1.4rem;
        margin-left: 2.2rem;
    }
}
