<ion-header>

  <ion-navbar class="navbarStyle" color="primary">
    <ion-title><em>welcome to</em></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="welcome">

  <div text-center>
    <h2><em>Tina Marrelli's</em></h2>
    <img src="assets/imgs/welcomeCartoon600.png" class="logo" />
    <h2>Red Book</h2>
    <h1>Home Health Care Planning</h1>
    <h5>Copyright ©2020 Marrelli and Associates, Inc.</h5>
  </div>
  <br>
  <div text-center>
    <h2 *ngIf="conn.internet && auth.userLoggedIn">Welcome Back! You're logged in as {{auth.user}}.</h2>
  </div>
  <div text-center>
    <button ion-button *ngIf="conn.internet && auth.userLoggedIn" (click)="workOnline()">
      CONTINUE
    </button>
    <button ion-button *ngIf="conn.internet && !auth.userLoggedIn" (click)="login()">
      LOG IN
    </button>
    <button ion-button *ngIf="conn.internet && auth.userLoggedIn" (click)="logout()">
      LOG OUT
    </button>
    <h3 *ngIf="!conn.internet">No internet connection? Could not connect to Red Book cloud.</h3>
    <button ion-button (click)="workOffline()">
      WORK OFFLINE
    </button>
    <h2 class="underline" (click)="subscribe()">Not a subscriber? Subscribe now</h2>
    <h2><em>Before Getting Started,</em></h2>
    <h2><span class="underline" (click)="gotoHelp()">Read This</span>, or</h2>
    <h2>
      <a style="color: white;" href="#"
      onclick="window.open('https://marrelli.com/app-support/hhcp-video/', '_blank', 'location=no'); return false;">Watch a
      HOW-TO Video</a>
    </h2>
    <br>
    <h2 class="underline" (click)="previewStd()">Preview Red Book Standard Plans</h2>
    <br>
    <h2 class="underline" (click)="reviewers()">Our Expert Reviewers</h2>
    <br>
    <h4 (click)="showTerms()">Using the app indicates you accept the <span class="underline">License Agreement.</span>
    </h4>
  </div>
  <p style="color: white; font-size: xx-small; text-align: center">v1.0.3.0</p>
</ion-content>