page-welcome {
$screen-xs-min: 425px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// extra-small devices
@mixin xs {
   @media (min-width: #{$screen-xs-min}) {
       @content;
   }
}
// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}
    
#welcome{
    background: color($colors, primary);
    div {
        color: color($colors, light);
        background-color:  color($colors, primary);
    }
    h1{
        color: color($colors, light);
        font-size: 3.0rem;
        @include xs {
            font-size: 2.0rem;
        }
        @include sm {
            font-size: 3.0rem;
        }
        @include md {
            font-size: 3.6rem;
        }
        @include lg {
            font-size: 3.8rem;
        }
    }
    h2{
        // color: color($colors, dark);
        color: color($colors, light);
        font-size: 1.8rem;
    }
    h3{
        color: color($colors, light);
        background-color:  color($colors, primary);
        font-size: 1rem;
    }
    h4{
        color: color($colors, light);
        background-color:  color($colors, primary);
        font-size: 1.2rem;
    }
    h5{
        color: color($colors, light);
        background-color:  color($colors, primary);
        font-size: 0.8rem;
    }
    .marginTop{
        margin-top:100px;
    }
    .logo{
        @include xs {
            height: 80px;
        }
        @include sm {
            height: 120px;
        }
        @include md {
            height: 200px;
        }
        @include lg {
            height: 350px;
        }
        @include xl {
            height: 400px;
        }
 
    }
    .button{
        background-color: color($colors, light);
        color: color($colors, primary);
    }
    .underline {
        text-decoration: underline; 
    }
}
};
